# ============================================================
# ENVIRONMENT
# ============================================================
APPLICATION_NAME=

# ============================================================
# POSTGRES SERVER
# ============================================================

DB_HOST=
DB_PORT=

DB_ADMIN_USER=
DB_ADMIN_PASSWORD=
DB_DEFAULT_NAME=

# ============================================================
# SERVICE BACKEND DATABASE
# ============================================================

SERVICE_DB_NAME=
SERVICE_DB_USER=
SERVICE_DB_PASSWORD=

# ============================================================
# SERVICE BACKEND TEST DATABASE
# ============================================================

SERVICE_TEST_DB_NAME=
SERVICE_TEST_DB_USER=
SERVICE_TEST_DB_PASSWORD=

# ============================================================
# KEYCLOAK DATABASE
# ============================================================

KC_DB_NAME=
KC_DB_USER=
KC_DB_PASSWORD=

# ============================================================
# KEYCLOAK
# ============================================================

KC_VERSION=
KC_PORT=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=
KC_HOSTNAME_STRICT=
KC_HTTP_ENABLED=
KC_REALM="${APPLICATION_NAME}"

# ============================================================
# KEYCLOAK SERVICE ACCOUNT
# ============================================================

KC_SERVICE_CLIENT_ID=
KC_SERVICE_CLIENT_SECRET=

# ============================================================
# OBJECT STORAGE
# ============================================================
OBJECT_STORAGE_VERSION=
OBJECT_STORAGE_PORT=
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=
OBJECT_STORAGE_BUCKET="${APPLICATION_NAME}"

# ============================================================
# SERVICE BACKEND SHADOW DATABASE
# ============================================================

SERVICE_SHADOW_DB_NAME=

# ============================================================
# KEYCLOAK APPLICATION CLIENTS
# ============================================================

KC_API_CLIENT_ID="${APPLICATION_NAME}-api"
KC_APP_CLIENT_ID="${APPLICATION_NAME}-app"

KC_APP_WEB_REDIRECT_URI=
KC_APP_WEB_ORIGIN=
KC_APP_MOBILE_REDIRECT_URI=
