# ============================================================
# ENVIRONMENT
# ============================================================

NODE_ENV=

# ============================================================
# POSTGRES SERVER
# ============================================================

DB_HOST=
DB_PORT=

DB_ADMIN_USER=
DB_ADMIN_PASSWORD=
DB_DEFAULT_NAME=

# ============================================================
# RPG BACKEND DATABASE
# ============================================================

RPG_DB_NAME=
RPG_DB_USER=
RPG_DB_PASSWORD=

# ============================================================
# RPG BACKEND TEST DATABASE
# ============================================================

RPG_TEST_DB_NAME=
RPG_TEST_DB_USER=
RPG_TEST_DB_PASSWORD=

# ============================================================
# KEYCLOAK DATABASE
# ============================================================

KC_DB_NAME=
KC_DB_USER=
KC_DB_PASSWORD=
